body {
    background-image: url("abstract-geometric-background-shapes-texture.jpg");
    font-family: Arial, sans-serif;
    color: #ccc;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
    text-align: left;
}

header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    position: relative;
    padding: 20px;
    color: #ccc;
    text-align: center;
}

header h1 {
    font-size: 40px;
}

nav a {
    color: #ccc;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: none;
    background-color: #555;
    padding: 5px;
    border: #555 1px solid;
    border-radius: 7px;
}

main {
    margin: 20px;
    margin-left: 75px;
    margin-right: 75px;
    max-width: 100%;
    padding-bottom: 50px
}

.introduction-box {
    margin-top: 20px;
    margin-left: 10px;
    padding: 20px;
    min-width: 35%;
    max-width: 60%;
    color: #ccc;
    z-index: 1000;
}

.intro-info {
    display: flex;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea, button {
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 15px;
    background-color: #333;
    color: #ccc;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding-top: 0;
    padding-bottom: 20px;
    color: #ccc;
    position: relative;
    width: 100%;
    bottom: 0;
    scroll-behavior: auto;
}

img.round {
  width: 150px;
  height: 150px;
  /*border-radius: 50%;*/
  clip-path: circle(50%); /* i just learnt this haha */
}

img.top-right {
  position: absolute;
  top: 50%;
  right: 20px;;
}

a {
    color:#ccc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.learning-resources {
    border: #ccc 1px solid;
    border-radius: 10px;
    border-right: dotted 3px #ccc;
    border-bottom: dotted 3px #ccc;
    padding: 20px;
    position: absolute;
    top: 55%;
    left: 25px;
    min-width: 100px;
    max-width: 300px;
    width: 300px;
    color: #ccc;
    z-index: 1000;
}

.cybersecurity-info {
    font-size: large;
    list-style-type: square;
    border: #ccc 1px solid;
    border-radius: 10px;
    border-right: dotted 3px #ccc;
    border-bottom: dotted 3px #ccc;
    padding: 20px;
    position: relative;
    top: 20px;
    left: 25px;
    min-width: 100px;
    max-width: 300px;
    width: 300px;
    color: #ccc;
    z-index: 1000;
}

.big-info-box {
    list-style-type: square;
    justify-content: center;
    position: relative;
    float: right;
    margin-top: 80px;
    left: 10%;
    min-width: 200px;
    max-width: 400px;
    width: 400px;
    height: 600px;
    z-index: 1000;
}

p {
    font-size: large;
}

.future-vision {
    border: #ccc 1px solid;
    border-radius: 10px;
    border-right: dotted 3px #ccc;
    border-bottom: dotted 3px #ccc;
    padding: 10px;
    margin-left: 20px;
    position: relative;
    width: auto;
    max-width: 800px;
    color: #ccc;
    z-index: 1000;
}

.contact-page main {
    min-height: calc(100vh - 160px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-page .form-container {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    max-width: 700px;
    z-index: 9999;
    box-sizing: border-box;
    max-height: calc(100vh - 80px);
    overflow: auto;
}

.top-left {
    border-color: black;
    position: absolute;
    top: 25%;
    left: 70px;
    width: 80px;
}

.logo :hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    z-index: 1000;
}

#big-box {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    gap: 40px;
    width: 1500px;
    height: auto;
    scroll-behavior: auto;
}

.boxes {
    border: #ccc 1px solid;
    border-radius: 10px;
    border-right: dotted 3px #ccc;
    border-bottom: dotted 3px #ccc;
    padding: 20px;
    margin: 40px 0;
    width: 350px;
    height: 400px;
    position: relative;
}

.boxes:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    text-decoration: none;
}

.box-image {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 200px;
    border-radius: 20px;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #333;
    color: #ccc;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

#backToTopBtn:hover {
    background-color: #555;
}


